:root {
	--font: Courier New, monospace;	
	--black:#272727;
	--dark-red:#cc241d;
	--dark-green:#98971a;
	--dark-yellow:#d79921;
	--dark-blue:#458588;
	--dark-magenta:#b16286;
	--dark-cyan:#689d6a;
	--light-gray:#a89984;
	--dark-gray:#928374;
	--light-red:#fb4035;
	--light-green:#b8bb26;
	--light-yellow:#fabd1f;
	--light-blue:#83a598;
	--light-magenta:#d3869b;
	--light-cyan:#8ec07c;
	--white:#ebdbb2;
	--select-color:var(--black);
	--select-background:var(--white);
}


body {
	font-family: var(--font);
	margin: 0;
}

code {
	white-space: preserve;
	background-color: var(--dark-gray);
	color: var(--white);
	display: block;
	padding: 1rem;
	border-radius: 1rem;
}

ul li::before {
	content: "- ";
}

ul li {
	list-style-type: none;
}

.content {
	padding: 1rem;
}

.content img {
	max-height: 400px;
  	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

.content article {
	padding: 1rem;
	font-size: 16pt;
	line-height: 2;
	border-radius: 2rem;
}

.content a {
	color: var(--light-yellow);
	text-decoration: none;
}

.content a:visited {
	color: var(--dark-yellow);
	text-decoration: none;
}

.content .datestamp {
	font-size: 14pt;
	line-height: 1;
	font-style: italic;
}

.sidebar {
	display: none;
}
