<html>
    <head>
	<title>Nathan Stevens</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/styles.css">
	<link rel="stylesheet" href="/print.css" media="print">
    </head>
    <body>
	<div class="sidebar">
	    <div class="sidebar-content">
		<h1><a href="/">Nate</a></h1>
		<ul class="navigation">
		    <li><a href="/articles">Articles</a></li>
		    <li><a href="https://github.com/mrbloopbloop">Code</a></li>
		</ul>
	    </div>
	</div>
	<div class="content">
		<article>
		</article>
	</div>
    </body>
</html>
