:root {
	--font:monospace;	
	--black:#272727;
	--dark-red:#cc241d;
	--dark-green:#98971a;
	--dark-yellow:#d79921;
	--dark-blue:#458588;
	--dark-magenta:#b16286;
	--dark-cyan:#689d6a;
	--light-gray:#a89984;
	--dark-gray:#928374;
	--light-red:#fb4035;
	--light-green:#b8bb26;
	--light-yellow:#fabd1f;
	--light-blue:#83a598;
	--light-magenta:#d3869b;
	--light-cyan:#8ec07c;
	--white:#ebdbb2;
}

body {
	background-color: var(--dark-gray);
	color: var(--black);
	font-family: var(--font);
}

.content {
	padding-left: 18rem;
}

.content article {
	background-color: var(--black);
	color: var(--white);
	padding: 3rem;
	margin: 3rem;
	font-size: 16pt;
	line-height: 2;
	border-radius: 2rem;
}

.sidebar {
	font-family: var(--font);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 18rem;
	background-color: var(--black);
}

.sidebar-content {
	padding: 1rem;
	color: var(--white);
}

.sidebar-content a  {
	text-decoration: none;
	color: var(--white);
}

.sidebar-content h1 {
	padding: 1rem;
	font-size: 5em;
}

.sidebar-content .navigation {
	list-style-type: none;
	font-size: 1.5em;
}
